# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# build outputs
dist/
web-build/

# logs
*.log
npm-debug.*
.pnpm-debug.log

# OS files
.DS_Store

# environment variables (IMPORTANT)
.env
.env.*

# IDE
.vscode/

# certificates / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# misc
*.orig.*